# Redireciona todas as requisições para o index.html
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Não aplicar regra para arquivos ou diretórios existentes
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Redirecionar todas as outras solicitações para o index.html
  RewriteRule ^ index.html [QSA,L]
</IfModule>

# Adicione cabeçalhos de segurança
<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
  Header set X-XSS-Protection "1; mode=block"
  Header set X-Frame-Options "SAMEORIGIN"
</IfModule>

# Configurar MIME Types
<IfModule mod_mime.c>
  AddType application/javascript .js
  AddType text/css .css
</IfModule>

# Habilitar Compressão
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/javascript application/json
</IfModule>
